.colores{
    background-color: #07108C;
    color: #ffff;
    cursor: pointer;
    outline: none;
    
}
.colores2{
    background-color: #002776;
    color: #ffff;
    cursor: pointer;
    outline: none;
    
}

.color-letras{
    color: #FFFF;
}