<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><ion-icon name="folder-open"></ion-icon> Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button (click)="toggleFunc();" class="accordion"><ion-icon name="iins"></ion-icon> Información Instructor</button>
  <ion-list class="accordion">
    <ion-item>
      <ion-label class="ion-text-wrap" position="floating"><h2>Nombre Instructor</h2></ion-label>
      <ion-input type="text" disabled [(value)]="rutsinst"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap" position="floating"><h2>Rut Instructor</h2></ion-label>
      <ion-input type="text" disabled [(value)]="namesinst"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Informacion personal -->
  <button (click)="toggleFunc();" class="accordion"><ion-icon name="man"></ion-icon> Información Conductor</button>
    <ion-list class="accordion">
      <ion-item>
        <ion-label class="ion-text-wrap" position="floating"><h1>Rut</h1></ion-label>
        <ion-input class="mayuculas" [(ngModel)]="Todo_dato.rut"  minlength="8" maxlength="9" pattern="^\d{1,2}\d{3}\d{3}[0-9K]{1}$" placeholder="12123123K"></ion-input>
        <ion-button float-right (click)=buscar() >Buscar Online</ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime [(ngModel)]="Todo_dato.fecha"  display-format="DD,MMM, YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><h1>Nombre</h1></ion-label>
        <ion-input class="mayuculas" [(ngModel)]="Todo_dato.nombre" autocapitalize="characters" placeholder="Juan Perez "></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><h1>Cargo</h1></ion-label>
        <ion-input class="mayuculas" [(ngModel)]="Todo_dato.cargo"  placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><h1>Empresa</h1></ion-label>
        <ion-input class="mayuculas" [(ngModel)]="Todo_dato.empresa"  placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><h1>Faena</h1></ion-label>
        <ion-select [(ngModel)]="Todo_dato.faena" multiple="true" (ionChange)="checkValue($event)" placeholder="Seleccione una faena" interface="popover">
          <ion-select-option   value="LAS TORTOLAS">LAS TORTOLAS</ion-select-option>
          <ion-select-option value="LOS BRONCES">LOS BRONCES</ion-select-option>
          <ion-select-option value="MINERODUCTOS">MINERODUCTOS</ion-select-option>
          <ion-select-option value="BASE COLINA">BASE COLINA</ion-select-option>
          <ion-select-option value="BASE COLINA ANGLO">BASE COLINA ANGLO</ion-select-option>
          <ion-select-option value="COACH MINA">COACH MINA</ion-select-option>
          <ion-select-option value="MINA">MINA</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><h1>Licencias</h1></ion-label>
        <ion-select [(ngModel)]="Todo_dato.licencias" multiple="true" placeholder="Seleccione Licencias" interface="popover" >
          <ion-select-option   value="B">B</ion-select-option>
          <ion-select-option value="D">D</ion-select-option>
          <ion-select-option value="A1">A1</ion-select-option>
          <ion-select-option value="A2">A2</ion-select-option>
          <ion-select-option value="A2 LEY 18290">A2 LEY 18290</ion-select-option>
          <ion-select-option value="A3">A3</ion-select-option>
          <ion-select-option value="A4">A4</ion-select-option>
          <ion-select-option value="A5">A5</ion-select-option>
          <ion-select-option value="F">F</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-list>
    <ion-item>
      <ion-label><h1>Opciones</h1></ion-label>
      <ion-button (click)=bloquear() disabled={{disableBloqueo}}>Marcar Inasistente</ion-button>
      <ion-button (click)=llenar() disabled={{disableLlenar}}>Llenar</ion-button>
    </ion-item>
  <!-- Pre operacional --------------------------------------------------------------------------------->
  <button (click)="toggleFunc2();" class="accordion_vehiculo"><ion-icon name="newspaper"></ion-icon> PRE OPERACIONAL</button>
  
    <ion-list class="accordion_vehiculo">
      <ion-item class=""> 
        <ion-label class="coleres"><h2>Chequeo pre-operación/check list/fatiga y somnolencia</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.chequeo_pre_operacion" value="{{Todo_dato.chequeo_pre_operacion}}" [selectedText]="Todo_dato.chequeo_pre_operacion">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Interior cabina, pick up, caja herramientas</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.interior_cabina_pickup" value="{{Todo_dato.interior_cabina_pickup}}" [selectedText]="Todo_dato.interior_cabina_pickup">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Revisa el vehículo antes de comenzar</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.revisa_vehiculo_antes" value="{{Todo_dato.revisa_vehiculo_antes}}" [selectedText]="Todo_dato.revisa_vehiculo_antes">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Revisa y utiliza  (EPP/Cinturón de seguridad)</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.revisa_equipo_epp" value="{{Todo_dato.revisa_equipo_epp}}" [selectedText]="Todo_dato.revisa_equipo_epp">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
  <!-- Conducción --------------------------------------------------------------------------------->
  <button (click)="toggleFunc3();" class="accordion"><ion-icon name="trending-up"></ion-icon> CONDUCCIÓN</button>
 
    <ion-list class="accordion">
      <ion-item>
        <ion-label><h2>Uso de los espejos, vigila punto ciego</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.uso_espejos_punto_ciego" value="{{Todo_dato.uso_espejos_punto_ciego}}" [selectedText]="Todo_dato.uso_espejos_punto_ciego">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Conduce con las dos manos al volante</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.conduce_manos_volante" value="{{Todo_dato.conduce_manos_volante}}" [selectedText]="Todo_dato.conduce_manos_volante">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Uso de frenos (todos)</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.uso_frenos" value="{{Todo_dato.uso_frenos}}" [selectedText]="Todo_dato.uso_frenos">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Hace buen uso de las marchas (subida y bajada)</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.hace_buen_uso_marcha" value="{{Todo_dato.hace_buen_uso_marcha}}" [selectedText]="Todo_dato.hace_buen_uso_marcha">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>   
      <ion-item>
        <ion-label><h2>Uso del embrague / Caja automática uso función at</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.uso_embrague" value="{{Todo_dato.uso_embrague}}" [selectedText]="Todo_dato.uso_embrague">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Se estaciona acorde al terreno</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.estaciona_acorde_terreno" value="{{Todo_dato.estaciona_acorde_terreno}}" [selectedText]="Todo_dato.estaciona_acorde_terreno">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <!---Seguridad----------------------------------------------------------------------->
  <button (click)="toggleFunc4();" class="accordion_vehiculo"><ion-icon name="warning"></ion-icon> SEGURIDAD</button>
  
    <ion-list class="accordion_vehiculo">
      <ion-item>
        <ion-label><h2>Respeta la señalización existente</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.respeta_senializacion" value="{{Todo_dato.respeta_senializacion}}" [selectedText]="Todo_dato.respeta_senializacion">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Mira con bastante anticipación el peligro</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.mira_anticipacion" value="{{Todo_dato.mira_anticipacion}}" [selectedText]="Todo_dato.mira_anticipacion">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Controla riesgo de la Ruta</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.controla_riesgo_ruta" value="{{Todo_dato.controla_riesgo_ruta}}" [selectedText]="Todo_dato.controla_riesgo_ruta">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Demuestra conducción segura y preventiva</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.demuestra_conduccion_segura" value="{{Todo_dato.demuestra_conduccion_segura}}" [selectedText]="Todo_dato.demuestra_conduccion_segura">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
  <!--CONOCIMIENTO OPERACIONAL GENERAL ------------------------------------------------------------->
  <button (click)="toggleFunc5();" class="accordion"><ion-icon name="settings"></ion-icon> CONOCIMIENTO OPERACIONAL GENERAL </button>
  
    <ion-list class="accordion">
      <ion-item>
        <ion-label><h2>Usa tracción/bloqueo 4-H 4-L según necesidad</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.traccion_4h4l" value="{{Todo_dato.traccion_4h4l}}" [selectedText]="Todo_dato.traccion_4h4l">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Conoce/opera correctamente sistema radial</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.opera_sistema_radial" value="{{Todo_dato.opera_sistema_radial}}" [selectedText]="Todo_dato.opera_sistema_radial">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Domina procedimiento Cadenas (CATA)</h2></ion-label>
        <ion-select disabled="{{isDisabled}}" [(ngModel)]="Todo_dato.domina_porc_cadena" value="{{Todo_dato.domina_porc_cadena}}" [selectedText]="Todo_dato.domina_porc_cadena">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Entiende la operación del vehículo que conduce</h2></ion-label>
        <ion-select [(ngModel)]="Todo_dato.entiende_operacion_vehiculo" value="{{Todo_dato.entiende_operacion_vehiculo}}" [selectedText]="Todo_dato.entiende_operacion_vehiculo">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
  
  <!--Actitud y Experiencia--------------------------------------------->
  <button (click)="toggleFunc_actitud();" class="accordion_vehiculo"><ion-icon name="person-add"></ion-icon> ACTITUD Y EXPERIENCIA</button>
    <ion-list class="accordion_vehiculo">
      <ion-item>
        <ion-label><h2>Refleja experiencia</h2></ion-label> 
        <ion-select   [(ngModel)]="Todo_dato.refleja_experiencia" value="{{Todo_dato.refleja_experiencia}}" [selectedText]="Todo_dato.refleja_experiencia">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><h2>Actitud a la evaluación</h2></ion-label>
        <ion-select  [(ngModel)]="Todo_dato.actitud_evaluacion" value="{{Todo_dato.actitud_evaluacion}}" [selectedText]="Todo_dato.actitud_evaluacion">
            <ion-select-option value="70">70</ion-select-option>
            <ion-select-option value="60">60</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
     <!--Descripcion vehiculo-------------------------------------------------------------------------->
  <button (click)="toggleFunc_vehiculo();" class="accordion"><ion-icon name="car-sport"></ion-icon> Descripcion vehiculo</button>
  
  <ion-list class="accordion">
    <ion-item>
      <ion-label position="stacked"><h1>Tipo vehículo</h1></ion-label>
      <ionic-selectable item-content [(ngModel)]="vehicle"  itemValueField="value" itemTextField="name" [items]="vehicles" [canSearch]="true" (onChange)="change_vehiculo($event)" placeholder="Seleccione un Vehiculo" interface="popover">
      </ionic-selectable>
    </ion-item>
    <ion-item class="ion-text-uppercase">
      <ion-label position="stacked"><h1>Marca</h1></ion-label>
      <ionic-selectable item-content [(ngModel)]="brand" itemValueField="value" itemTextField="name" [items]="brands" [canSearch]="true"  (onChange)="change_marca($event)" placeholder="Seleccione UNA MARCA" interface="popover">
      </ionic-selectable>
    </ion-item>
    <ion-item class="ion-text-uppercase">
      <ion-label position="floating"><h1>Modelo</h1></ion-label>
      <ion-input [(ngModel)]="Todo_dato.modelo"  placeholder=""></ion-input>
    </ion-item>
    <ion-item class="ion-text-uppercase">
      <ion-label position="floating"><h1>Tipo de caja de cambios</h1></ion-label>
      <ion-select [(ngModel)]="Todo_dato.tipo_caja_cambio" placeholder="Seleccione un tipo caja de cambio" interface="popover">
        <ion-select-option value="AUTOMÁTICA">AUTOMÁTICA</ion-select-option>
        <ion-select-option value="MECÁNICA">MECÁNICA</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-text-uppercase">
      <ion-label position="floating"><h1>Tipo de rampla</h1></ion-label>
      <ion-select [(ngModel)]="Todo_dato.tipo_rampla" (ionChange)="change_rampla($event)" placeholder="Seleccione un tipo de rampla" interface="popover">
        <ion-select-option value="NO TIENE RAMPLA">NO TIENE RAMPLA</ion-select-option>
        <ion-select-option value="RAMPLA PLANA CARGA SECA O GENERAL">RAMPLA PLANA CARGA SECA O GENERAL</ion-select-option>
        <ion-select-option value="BATEA CONCENTRADO">BATEA CONCENTRADO</ion-select-option>
        <ion-select-option value="TOLVA">TOLVA</ion-select-option>
        <ion-select-option value="COMBUSTIBLE">COMBUSTIBLE</ion-select-option>
        <ion-select-option value="CAMA BAJA">CAMA BAJA</ion-select-option>
        <ion-select-option value="CAMA BAJA CUELLO CISNE ">CAMA BAJA CUELLO CISNE </ion-select-option>
        <ion-select-option value="CISTERNA DE 30.000 METROS CÚBICOS">CISTERNA DE 30.000 METROS CÚBICOS</ion-select-option>
        <ion-select-option value="ALJIBES 15.000 METROS CUBICOS"> ALJIBES 15.000 METROS CUBICOS</ion-select-option>
        <ion-select-option value="ALJIBES 20.000 METROS CUBICOS">ALJIBES 20.000 METROS CUBICOS</ion-select-option>
        <ion-select-option value="ALJIBES 25.000 METROS CUBICOS">ALJIBES 25.000 METROS CUBICOS</ion-select-option>
        <ion-select-option value="OTRO">OTRO</ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-list>

  <ion-item class="ion-text-uppercase">
    <ion-label position="floating"><h1>Informe detallado</h1></ion-label>
    <ion-textarea class="mayuculas" [(ngModel)]="Todo_dato.Observacion"  placeholder=""></ion-textarea>
  </ion-item>
  


  <ion-item>
    <ion-label><h1>Pendiente</h1></ion-label>
    <ion-toggle slot="end" [(ngModel)]="Todo_dato.elestado"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label><h1>{{Todo_dato.nota}}</h1></ion-label>
    
    <ion-button (click)=calcular()>Calcular</ion-button>
  </ion-item>
  <ion-button expand="block" (click)="guardar()">Guardar en Memoria</ion-button>
  <ion-button expand="block" (click)="mostrar()"><ion-icon name="server"></ion-icon> Datos para Despachar</ion-button>
</ion-content>
