/* Style the buttons that are used to open and close the accordion panel */




.accordion {
    background-color: #07108C;
    color: #ffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px rgb(0, 0, 0);
    
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    font-weight: bold;
  }
  .accordion_vehiculo {
    background-color: #002776;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: solid 1px rgb(0, 0, 0);
    text-align: center;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    font-weight: bold;
    
  }
  
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .panel.active {
    padding: 0 18px;
    background-color: white;
    display: block;
    overflow: visible;
  }

  
  .ion-select-option{
    background-color: green !important;
  }
  .color2{
    background-color: green !important;
  }
  
  ion-label {
    font-size: 20px;
    --color: var(--ion-color-step-400) !important;
    
  }
  .mayuculas{
    text-transform: uppercase;
  }
  